@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700');

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #232F34;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.carousel-enlarger {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 93%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #82B2C4;
  cursor: pointer;
  left: 49%;
}
